h1{
    color: red;
    font-size: 500%;
}
.broccoli{
    background-color: green;
}
.tamato{
    background-color: red;
}
/* img{
    background-color: red;
} */
#heading{
    color: blue;
}
.circular{
    border-radius:100%;
}
img:hover{
    background-color: gold;
}
